@mixin displayFlex {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

@mixin headerText {
  font-size: $default-font-size;
  font-weight: bold;
  color: var(--text);
}
