.header {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: flex;
    flex-direction: column;
    padding: 5rem 0 4rem 0;

    @media (min-width: 768px) {
      padding: 0 0 2rem 0;
    }

    h1 {
      font-size: 2.3rem;
      color: var(--text-number);

      @media (min-width: 768px) {
        font-size: 3rem;
      }
    }

    p {
      @include headerText;
    }
  }

  &__theme-color {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid var(--text);
    padding-top: 3rem;

    @media (min-width: 768px) {
      border-top: unset;
      padding-top: unset;
    }

    p {
      @include headerText;
      margin-right: 1.5rem;
    }
  }
}
