.bt-facebook {
  border-top: 5px solid $color-facebook;
}
.bt-twitter {
  border-top: 5px solid $color-twitter;
}
.bt-instagram {
  border-top: 5px solid $color-instagram;
}
.bt-youtube {
  border-top: 5px solid $color-youtube;
}

.text-green {
  color: $color-icon-up;
}
.text-red {
  color: $color-icon-down;
}

.pr {
  position: relative;
}
